#left {
    width: 50%;
    float: left;
}

#right {
    float: right;
    width: 50%;
    flex-grow: 1;
}

.center {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

#text {
    clear: both;
    text-align: left;
    display: table-cell;
    max-width: 100%;
    height: 80%;
    padding-left: 5%;
    vertical-align: middle;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

#buttons {
    float: left;
    clear: both;
    width: 100%;
    height: 20%;
    
}

#outer {
    width: 100%;
    display: flex;
    padding: 2%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#album-art {
    width: 100%;
}

#text-outer {
    width: 100%;
    height: 80%;
    display: table;
}

.hide-mouse{
    cursor: none;
}

.title {
    font-weight: 900;
    font-size: 7.5vw;
}

.artist {
    font-weight: 400;
    font-size: 4.5vw;
}

.album {
    font-weight: 400;
    opacity: 0.75;
    font-size: 4.5vw;
}

.material-icons {
    font-size: 5vw;
}