{% extends "layout.html" %}

{%block title %}
<title>Currently Playing</title>
{%endblock%}

{% block main %}
<div id="outer">
    <div id="left">
        <img src="{{art_url}}" crossorigin="anonymous" id="album-art">
    </div>
    <div id="right">
        <div id="text-outer">
            <div id="text">
                <h1 class="title">{{title}}</h1>
                <h2 class="artist">{{artist}}</h2>
                <h2 class="album">{{album}}</h2>
            </div>
        </div>
        <div id="buttons" class="center">
            {% if liked %}
            <a href="/unlike?id={{id}}" class="btn btn-default media-control-button"><i
                    class="material-icons">favorite</i></a>
            {% else %}
            <a href="/like?id={{id}}" class="btn btn-default media-control-button"><i
                    class="material-icons">favorite_border</i></a>
            {% endif %}

            {% if currently_playing %}
            <script>
                var turnOnRequest = new XMLHttpRequest();
                turnOnRequest.open("GET", "http://localhost:9000/TurnOnScreen", true); // false for synchronous request
                turnOnRequest.send(null);
            </script>
            <a href="/pause" class="btn btn-default media-control-button"><i
                    class="material-icons">pause</i></a>
            {% else %}
            <script>
                var turnOffRequest = new XMLHttpRequest();
                turnOffRequest.open("GET", "http://localhost:9000/TurnOffScreen", true); // false for synchronous request
                turnOffRequest.send(null);
            </script>
            <a href="/play" class="btn btn-default media-control-button"><i
                    class="material-icons">play_arrow</i></a>
            {% endif %}

            <a href="/skip" class="btn btn-default media-control-button"><i
                    class="material-icons">skip_next</i></a>
        </div>
    </div>
</div>
<div id="progress-bar">
    <div id="progress-bar-inner"></div>
</div>
<p></p>
<pre>

</pre>

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script>
    const colorThief = new ColorThief();
    const img = document.querySelector('img');

    function avg(color) {
        return (color[0] + color[1] + color[2]) / 3;
    }

    function setColors() {
        var backgroundColor = colorThief.getColor(img);
        var textColorArray = colorThief.getPalette(img);

        //for debugging
        //console.log(backgroundColor);
        //console.log(textColorArray);

        //set background color
        document.body.style.backgroundColor = 'rgb(' + backgroundColor[0] + ',' + backgroundColor[1] + ',' + backgroundColor[2] + ')';
        var backgroundColorAvg = avg(backgroundColor);

        //find the color that contrasts the most with the background color and use it for text
        var mostContrastingColor = textColorArray[0];
        for (let i = 0; i < textColorArray.length; i++) {
            var textColorAvg = avg(textColorArray[i]);

            if (Math.abs(avg(textColorArray[i]) - backgroundColorAvg) > Math.abs(avg(mostContrastingColor) - backgroundColorAvg)) {
                mostContrastingColor = textColorArray[i];
            }

        }
        var textColor = mostContrastingColor;

        document.body.style.color = 'rgb(' + textColor[0] + ',' + textColor[1] + ',' + textColor[2] + ')';
        var buttons = document.getElementsByClassName("media-control-button");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.color = 'rgb(' + textColor[0] + ',' + textColor[1] + ',' + textColor[2] + ')';
        }

        document.getElementById('progress-bar-inner').style.backgroundColor = 'rgb(' + textColor[0] + ',' + textColor[1] + ',' + textColor[2] + ')';
        document.getElementById('progress-bar').style.backgroundColor = 'rgb(' + backgroundColor[0] + ',' + backgroundColor[1] + ',' + backgroundColor[2] + ')';

    }

    // Make sure image is finished loading
    if (img.complete) {
        setColors();
    } else {
        img.addEventListener('load', function () {
            setColors();
        });
    }

</script>

<script>
    // Check if the track has changed
    function reqListener() {
        if (this.responseText === "different") {
            location.reload();
        }
    }
    // Update the progress bar
    function inforeqListener() {
        parsed = JSON.parse(this.responseText)
        console.log(parsed)
        var duration = parsed["duration"]
        var progress = parsed["progress"]
        console.log(duration)
        console.log(progress)
        console.log("attempting to set width to " + progress/duration*100 + "%")
        document.getElementById('progress-bar-inner').style.width=progress/duration*100 + "%";
    }
    // Reload the page if the request fails
    function reloadPageListener() {
        location.reload();
    }

    // send requests to get the track info and playback info
    function getTrackInfo() {
        try {
            const req = new XMLHttpRequest();
            req.addEventListener("load", reqListener);
            req.addEventListener("error", reloadPageListener)
            req.open("GET", "/current_track_xhr?id={{id}}&currently_playing={{currently_playing}}");
            req.send();

            const inforeq = new XMLHttpRequest();
            inforeq.addEventListener("load", inforeqListener);
            inforeq.addEventListener("error", reloadPageListener)
            inforeq.open("GET", "/playback_info");
            inforeq.send();
        } catch (error) {
            console.log("Unable to reach server");
        }
    }

    // Update the track info every 2 seconds
    const interval = setInterval(function () {
        getTrackInfo()
    }, 2000);
</script>
{% endblock %}