{% extends "layout.html" %}

{%block title %}
<title>Currently Playing</title>
{%endblock%}

{% block main %}
<div id="outer">
    <div id="left">
        <img src="{{art_url}}" crossorigin="anonymous" id="album-art">
    </div>
    <div id="right">
        <div id="text-outer">
            <div id="text">
                <h1 class="title">{{title}}</h1>
                <h2 class="artist">{{artist}}</h2>
                <h2 class="album">{{album}}</h2>
            </div>
        </div>
        <div id="buttons" class="center">
            {% if liked %}
            <a href="/unlike?id={{id}}" class="btn btn-default media-control-button"><i
                    class="material-icons">favorite</i></a>
            {% else %}
            <a href="/like?id={{id}}" class="btn btn-default media-control-button"><i
                    class="material-icons">favorite_border</i></a>
            {% endif %}

            {% if currently_playing %}
            <a href="/pause" class="btn btn-default media-control-button"><i class="material-icons">pause</i></a>
            {% else %}
            <a href="/play" class="btn btn-default media-control-button"><i class="material-icons">play_arrow</i></a>
            {% endif %}

            <a href="/skip" class="btn btn-default media-control-button"><i class="material-icons">skip_next</i></a>
        </div>
    </div>
</div>
<p></p>
<pre>

</pre>

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script>
    const colorThief = new ColorThief();
    const img = document.querySelector('img');
    function avg(color) {
        return (color[0] + color[1] + color[2]) / 3;
    }
    function setColors() {
        var backgroundColor = colorThief.getColor(img);
        var textColorArray = colorThief.getPalette(img);
        document.body.style.backgroundColor = 'rgb(' + backgroundColor[0] + ',' + backgroundColor[1] + ',' + backgroundColor[2] + ')';
        var backgroundColorAvg = avg(backgroundColor);
        var backgroundIsDark = backgroundColorAvg < 120;
        var darkestColor = [255, 255, 255];
        var lightestColor = [0, 0, 0];
        for (let i = 0; i < textColorArray.length; i++) {
            var textColorAvg = avg(textColorArray[i]);
            if (textColorAvg > (avg(lightestColor))) {
                lightestColor = textColorArray[i];
            }
            if (textColorAvg < (avg(darkestColor))) {
                darkestColor = textColorArray[i];
            }
        }
        var textColor = null;
        if (backgroundIsDark) {
            textColor = lightestColor;
        } else {
            textColor = darkestColor;
        }
        document.body.style.color = 'rgb(' + textColor[0] + ',' + textColor[1] + ',' + textColor[2] + ')';
        var buttons = document.getElementsByClassName("media-control-button");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.color = 'rgb(' + textColor[0] + ',' + textColor[1] + ',' + textColor[2] + ')';
        }
    }

    // Make sure image is finished loading
    if (img.complete) {
        setColors();
    } else {
        img.addEventListener('load', function () {
            setColors();
        });
    }

</script>

<script>
    function reqListener() {
        if (this.responseText === "different") {
            location.reload();
        }
    }
    function reloadPageListener(){
        location.reload();
    }

    function compareTrack() {
        try {
            const req = new XMLHttpRequest();
            req.addEventListener("load", reqListener);
            req.addEventListener("error", reloadPageListener)
            req.open("GET", "/current_track_xhr?id={{id}}&currently_playing={{currently_playing}}");
            req.send();
        } catch (error) {
            console.log("Unable to reach server");
        }
    }

    const interval = setInterval(function () {
        compareTrack()
    }, 2000);
</script>
{% endblock %}