{% extends "layout.html" %}

{%block title %}
<title>Not Playing</title>
{%endblock%}

{% block main %}
wooo nothing is playing rn
<script>
    function reqListener() {
        if (this.responseText === "different") {
            location.reload();
        }
    }

    function compareTrack() {
        try {
            const req = new XMLHttpRequest();
            req.addEventListener("load", reqListener);
            req.open("GET", "/current_track_xhr?id={{id}}&currently_playing={{currently_playing}}");
            req.send();
        } catch (error) {
            console.log("Unable to reach server");
        }
    }

    const interval = setInterval(function () {
        compareTrack()
    }, 2000);
</script>
{% endblock %}